    body {
        background-image: url("https://steamuserimages-a.akamaihd.net/ugc/447367629490515185/1C1BAA131827D64826EDEE39F11AC6B9AFCCF48B/");
    }

    h3 {
        color: red;
        background-color: white;
    }

a {
    color: red; 
    background-color: white;
}