body {
    background-image: url("https://i.ytimg.com/vi/zpWYQ1YtgnI/maxresdefault.jpg");
    background-size:1500px 1000px;
}

h3 {
    color: red;
    background-color: white;
}

a{
    color: red;
}